@import url('fonts/fi/fontiran.css');
@import url('bootstrap.min.css');
@import url('font-awesome.min.css');

:root {
    --primaryColor: #339808;
    --dotted: #d2691e;
    --secondaryColor: #373737;
    --bg: #f5f0da;
    --bghover: #daf5e8;
    --ddColor: #212121;
}

* {
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IRANSans', serif;
}

section {
    background: #e2e1e0;
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    !important
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--bghover);
}

.list-group-item {
    background-color: var(--bg);
}

.card {
    background-color: var(--bg);
}

.card-img-top {
    width: 300px;
}

.menu-card {
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 95%;
}

.thumbnail {
    width: 200px;
    height: 200px;
}

.leafs {
    padding: 20px 10px;
    border: 10px solid var(--primaryColor);
}

.menu-card-subtitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.menu-card-subtitle h3 {
    font-size: 2.2em;
    font-family: 'IRANSans', serif;
    color: var(--secondaryColor);
}

.menu-card-subtitle h2 {
    font-size: 2em;
    font-family: 'IRANSans', cursive;
    font-weight: 600;
    color: var(--secondaryColor);
}

#front {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cafe-main-image-brand {
    flex: 1;
    width: 100%;
    height: auto;
    background-color: var(--primaryColor);
    background: url("./cafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

#cafe-main-image-brand h1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
    color: #ffffff;
    padding: 70px;
    font-size: 3em;
    font-weight: 500;
    font-family: 'IRANSans', cursive;
    width: 100%;
    text-align: right;
}

#front-menu {
    height: 50vh;
    flex: 1;
    background-color: var(--bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.hours {
    margin-top: 5px;
}

td {
    padding: 4px;
    font-size: 19px;
    font-style: italic;
    text-align: left;
    font-weight: 500;
    font-family: 'IRANSans', serif;
    color: rgb(95, 95, 95);
}

.dashes {
    margin: 0 10px;
    border-bottom: 7px dotted #d2691e;
}

.place-contact address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'IRANSans', serif;
    margin-bottom: 0px;
    margin-top: 10px;
    color: var(--secondaryColor);
}

.badge-primary {
    background-color: var(--primaryColor);
}

.place-contact address svg {
    margin-right: 10px;
}

.place-contact address a {
    text-decoration: none;
    color: var(--secondaryColor);
}

.cafe-items-container {
    padding: 20px 10px;
}

.cafe-items-container .cafe-items-title {
    display: flex;
    flex-direction: column;
}

.cafe-items-title h2 {
    font-size: 2.3em;
    font-weight: 700;
    color: var(--secondaryColor)
}

.cafe-items-title p {
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'IRANSans', serif;
    font-style: italic;
    color: var(--primaryColor);
}

dl {
    padding: 20px 0;
}

dt {
    font-size: 1.6em;
    font-weight: 500;
    color: var(--secondaryColor);
}

dd {
    font-size: 1.2em;
    font-style: italic;
    font-family: 'IRANSans', serif;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 2px;
    color: var(--ddColor);
    margin-left: 1em;
    margin-bottom: 1em;
    margin: 0 0 1em 1em;
    padding: 5px;
    line-height: 1.2em;
}

.card-body {
    padding: 5px;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 28, 28, 0.9);
}

footer a {
    text-decoration: none;
    color: #e2e1e0;
    font-size: 0.9em;
    letter-spacing: 0.6px;
    font-family: 'IRANSans', cursive;
    padding: 10px;
}

footer a:hover {
    color: var(--primaryColor);
    text-decoration-line: none;
}

#btn-back-to-top {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--primaryColor);
}

/* media  queries */
@media screen and (max-width: 575.98px)
{
    section {
        flex-direction: column;
        height: auto;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
    }
}


@media screen and (min-width: 576px) and (max-width: 767.98px) {
    section {
        flex-direction: column;
        height: auto;
    }

    .thumbnail {
        width: 130px;
        height: 130px;
    }
}


@media screen and (min-width: 768px) and (max-width: 991.98px) {
    section {
        flex-direction: column;
        height: auto;
    }

    .thumbnail {
        width: 175px;
        height: 175px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    section {
        flex-direction: column;
        height: auto;
    }


    .thumbnail {
        width: 180px;
        height: 180px;
    }

}

@media screen and (min-width: 1200px)
{
}